body {
  background-color: #000;
}

.mark-canvas {
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  perspective:10px;
  display:flex;
  flex-direction: column;
}

.fill-height {
  min-height: 100vh;
}
.logo-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%, 0);
}

.social-icons {
  z-index:3;
  display:flex;
  flex-direction:row;
  align-items:center;
  float: left;
}

i {
  color: #fff;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fa {
  padding: 5px;
}

.header-cta {
  float:right;
}

.button {
  display: inline-flex;
  flex-direction:row;
  align-items: center;
  padding:10px 20px;
  font-size: 22px;
  line-height: 1;
  text-decoration:none;
  background-color: #fff;
  color: #000;
  border: 1px solid #e2e2e2;
  transition: background .35s ease-out;
}

.button-pill {
  border-radius: 100px;
  height:40px;
  font-size:15px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #f8f8f8;
}

.header-bar {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  height: 100px;
}

@media (min-width: 600px) {
.mark-canvas .header-bar {
    padding: 0 80px 80px;
    max-height: 120px;
  }
}
