body {
  background-color: #000;
}

.mark-canvas {
  background-color: #040404;
  /*background:url(../img/bg3.jpg) center center no-repeat;
  background-size:cover;*/
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  perspective:1000px;
  -webkit-perspective:1000px;
  display:flex;
  flex-direction: column;
}

.fill-height {
  min-height: 100vh;
}
.logo-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%, 0);
}

.logo-wrapper img {
      animation: scale 15s ease-in-out infinite;
}

@keyframes scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.social-icons {
  z-index:3;
  display:flex;
  flex-direction:row;
  align-items:center;
  float: left;
}

i {
  color: #fff;
}

ul {
  padding-left:0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fa {
  padding: 5px;
}

.header-cta {
  float:right;
}

.button {
  display: inline-flex;
  flex-direction:row;
  align-items: center;
  padding:10px 30px;
  font-size: 22px;
  line-height: 1;
  text-decoration:none;
  background-color: #fff;
  color: #000;
  border: 1px solid #e2e2e2;
  transition: background .35s ease-out;
}

.button-pill {
  border-radius: 100px;
  margin-top:20px;
  font-size:15px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #f8f8f8;
}

.header-bar {
  position: absolute;
  transform: translate3d(0px,0px,0px);
  bottom: 0;
  left:0;
  right:0;
  height: 100px;
}

@media (min-width: 600px) {
.mark-canvas .header-bar {
    padding: 0 80px 80px;
    max-height: 120px;
  }
  .about-cash {
    padding-left:80px;
    padding-right:80px;
  }
}

.index-page.boost-launch {
  overflow-x:hidden;
}

.index-page .scrollable {
  display: flex;
  align-items:center;
  justify-content:center;
  position: relative;
  z-index:2;
  margin-top:100vh;
}
.index-page .my-builds {
  margin-bottom:-5%;
  max-width: 1200px;
  width:100%;
  min-height: 100vh;
}
.my-builds {
  background-color:#fff;
  /*display: flex;
  flex-direction: column;*/
}

.build-left-block {
  float:left;
  width:50%;
  display:inline;
}

.build-right-block {
  float: right;
  width:50%;
  display:inline;
}

.cta-button {
  clear:both;
}

.cta-button button {
  display:block;
  margin:0 auto;
}
